<!DOCTYPE html>
<html>
  <head>
    <title>Metabook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('metabook.png') %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Montserrat', media: 'all', 'data-turbolinks-track' => true %>
    <meta name="description" content="metabook, facebook clone, fullstack proejct">
    <meta name="keywords" content="facebook, facebook clone, metabook, app academy, app academy proejcts, jonathan zhou, jzhou45, react, redux, ruby, ruby on rails, javascript, html, html5, css, sass, project, clone, jonathan, zhou, university at buffalo, ub, fullstack">
    <meta name="author" content="Jonathan Zhou">
  </head>

  <body>
    <%= yield %>
  </body>
</html>